<%- include('../layout_main_up.ejs',{subtitle:'My games'}); %>
  <div class="page-block" id="M26" style="display: block;">
    <div class="pull-right">
      <span id="S32">
        <span class="dropdown">
          <span id="season_dropdown" class="dropdown-toggle select-dropdown" data-toggle="dropdown">All time
            <span class="caret"></span></span>
          <ul id="season_dropdown_list" class="dropdown-menu">
            <li><a href="javascript:void(0)">All time</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S91]</span> July 2023</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S90]</span> June 2023</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S89]</span> May 2023</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S88]</span> April 2023</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S87]</span> March 2023</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S86]</span> February 2023</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S85]</span> January 2023</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S84]</span> December 2022</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S83]</span> November 2022</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S82]</span> October 2022</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S81]</span> September 2022</a></li>
            <li><a href="javascript:void(0)"><span class="season">[S80]</span> August 2022</a></li>
            <li><a href="javascript:void(0)"><span class="blue">Next <i class="fa fa-long-arrow-right"></i></span></a>
            </li>
          </ul>
        </span>
      </span>
    </div>
    <div>
      <div id="levels_full" class="pull-left hidden-xs level-select">
        <a href="/my-games/beginner/1" id="beginner"
          class="level-select-link"><span>Beginner</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/my-games/intermediate/1" id="intermediate"
          class="level-select-link"><span>Intermediate</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/my-games/expert/1" id="expert"
          class="level-select-link"><span>Expert</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" id="level_select_3"
          class="level-select-link"><span>Custom</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="page-block" id="S59" style="display: block;">
    <div id="stat_filters" class="stat-filters" style="width: 100%;">
      <div id="is_all_games_wrapper" class="pull-left">
        <label class="checkbox-fixed">
          <input id="is_all_games" type="checkbox" <%-isCheck%> ><span>All games</span>
        </label>
      </div>
      <div id="R28" class="pull-right"></div>
      <div class="clearfix"></div>
    </div>
    <table id="stat_table" class="table table-bordered table-stat" style="width: 100%; opacity: 1;">
      <thead id="stat_table_head">
        <tr>
          <th class="stat-rank-column">#</th>
          <th class="stat-time-column">Time</th>
          <th class="stat-state-column">Result</th>
          <th class="stat-3bv-extra-column">Clicks</th>
          <th class="" colspan="1">Date</th>
        </tr>
      </thead>
      <tbody id="stat_table_body"></tbody>
      <%-tableData%>
        </tbody>
    </table>
    <nav id="stat_pagination_nav">
      <ul id="stat_pagination" class="pagination pagination-sm noselect">
        <%-include('navigation.ejs');%>
      </ul>
    </nav>
  </div>
  <script>
    const url = window.location.pathname.split('/');
    url.pop();
    const mode = url.pop();
    document.getElementById(mode).className = `level-select-link active`;

    document.getElementById('is_all_games').onclick = function () {
      const params = window.location.pathname.split('/');
      params.pop();
      const mode = params.pop();
      $.ajax({ url: '/all', type: 'POST', data: { 'mode': mode, 'isCheck': this.checked } });
      window.location.href = `/my-games/${mode}/1`;
    };
  </script>
  <%- include('../layout_main_down.ejs',{mode:-1,cur_ws:0}); %>